{% extends "mapfeed/base.html" %}

{% block title %}
{% if city %}
    {{ city.city_name }} {{ city.rail_name }} Tracker
{% endif %}
{% endblock %}

{% block sidelines %}
{% if city %}
    <li class="sidebar-brand">{{ city.city_name }} {{ city.rail_name }} Tracker</li>
    {% if lines %}
    {% for line in lines %}
    <li>
    <a href="../{{ city.id }}/line/{{ line.id }}" id="{% filter lower %}{{ line.line_code }}{% endfilter %}sb">{{ line.line_name }}</a>
    </li>
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}

{% block tweets %}
{% if statuses %}
{% for status in statuses %}
    <p>{{ status.text }}<br/><b>{{ status.created_at }}</b></p>
{% endfor %}
{% endif %}
{% endblock %}
